.flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container.horizontal {
  flex-direction: row;
}

.flex-item {
  font-family: 'Oxygen', sans-serif;
  margin: auto 10px;
  text-align: center;
}

.flex-item.small {
  max-width: 25%;
}

.flex-item.medium {
  max-width: 35%;
}

@media screen and (max-width: 980px) {
  .flex-item.small {
    max-width: 40%;
  }

  .flex-item.medium {
    max-width: 50%;
  }
}

@media screen and (max-width: 780px) {
  .flex-container.horizontal {
    flex-direction: column;
  }

  .flex-item.small {
    max-width: 60%;
  }

  .flex-item.medium {
    max-width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .flex-item.small {
    max-width: 80%;
  }

  .flex-item.medium {
    max-width: 90%;
  }
}

.flex-item a {
  text-decoration: none;
}

.flex-bar {
  background-color: #DFDFDF;
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 2%;
  width: 100%;
}

.flex-bar img {
  max-height: 64px;
  max-width: 64px;
  min-height: 64px;
  min-width: 64px;
}

.flex-bar h1 {
  color: #333333;
  text-align: left;
}

.flex-item h1,
.flex-item h2,
.flex-item h3,
.flex-item h4,
.flex-item h5,
.flex-item h6 {
  font-family: 'Fira Sans', sans-serif;
}
